<footer class="footer">
    <div class="container">
        <div class="content">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <p>© 2017 Yu-Jen Lin</p>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github"></i></a>
                    </div>
                    <div class="level-item">
                        <a href="https://www.linkedin.com/in/ {{ site.linkedin_username }}" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>