<footer class="footer">
  <div class="container">
    <div class="content">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <div>
              <p>© 2017 Yu-Jen Lin</p>
            </div>
            <div>
              <a href="https://github.com/{{ site.github_username }}" target="_blank"><span class="icon"><i class="fa fa-github"></i></span></a>
              <a href="https://www.linkedin.com/in/ {{ site.linkedin_username }}" target="_blank"><span class="icon"><i class="fa fa-linkedin"></i></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>