<header>
    <nav class="nav">
        <div class="container">
            <div class="nav-left">
                <a class="nav-item
                {% if page.title == 'Home' %} is-active
                {% endif %}" href="/">
                    Yu-Jen Lin
                </a>
                <a class="nav-item 
                {% if page.title == 'About' %} is-active
                {% endif %}" href=" {{ 'about' | prepend: site.baseurl }} ">About</a>
                <a class="nav-item {% if page.title == 'Projects' %} is-active
                {% endif %}" href=" {{ 'projects' | prepend: site.baseurl }} ">Projects</a>
                <a class="nav-item {% if page.title == 'Lab' %} is-active
                {% endif %}" href=" {{ 'lab' | prepend: site.baseurl }} ">Lab</a>
                <!--<a class="nav-item" href="#">Lab</a>-->
            </div>
        </div>
    </nav>
</header>