<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- SEO -->
  <meta name="description" content="{{ site.description }}">
  <meta name="keyword" content="{{ site.keyword }}">
  <meta name="subject" content="{{ site.subject }}">
  <meta name="author" content="{{ site.aurthor }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:title" content="
    {% if page.title %}
      {{ page.title }} | {{ site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  ">
  <meta property="og:image" content="{{ site.url }}/assets/images/meta.png">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <title>
    {% if page.title %}
      {{ page.title }} | {{ site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/images/favicon.png">

  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/main.css">
  {% if layout.css %}
    {% for css in layout.css %}
    <link rel="stylesheet" href="/assets/css/{{ css.path }}">
    {% endfor %}
  {% endif %}
  {% if page.css %}
    {% for css in page.css %}
    <link rel="stylesheet" href="/assets/css/{{ css.path }}">
    {% endfor %}
  {% endif %}

  <!-- JS -->

</head>