.feature-projects {
    // background-color: #003;
    color: #fff;
    // padding: 0;
    padding-top: 0;
    .columns {
        // margin-bottom: 0;
    }
    .column{
        // padding: 0;
        // background-color: grey;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &.main-project {
            // height: 40rem;
        }
        &.feature-project, &.project {
            // height: 25rem;
            filter: grayscale(100%);
            transition: 0.5s ease-in-out;

            &:hover {
                filter: none;
            }
            @include mobile {
                filter: none;
            }
        }
    }
    .card {
        box-shadow: none;
        cursor: pointer;
        .title {
            margin-bottom: 0.5rem;
        }
        .tags {
            margin-bottom: 0.5rem;
        }
        transition: background-color 0.5s ease-in-out;
        &:hover {
            background-color: #f5f5ff;
        }
    }
}
$tmpcolor: rgba(200, 200, 255, 1);
$tmpcolorInvert: findColorInvert($tmpcolor);
.modal-background {
    background-color: rgba(25, 52, 65, 0.9);
}
.modal-content {
    min-height: calc(100vh - 40px);
}
.modal-card {
    .header {
        border-radius: 0;
        background-color: #5B7876;
        margin-bottom: 0;
        .level-item {
            height: 20rem;
        }
        // padding-left: 2rem;
        // padding-right: 2rem; 
        .modal-card-title {
            color: #FCFFF5;
            font-size: $size-1;
        }
        .modal-card-subtitle {
            color: #E3E3E3;
            font-size: $size-4;
        }
        // border: 0;
        .delete {
            position: absolute;
            top: 1.25rem;
            right: 1rem;
            height: 2rem;
            width: 2rem;
            max-height: 2rem;
            min-width: 2rem;
            @include mobile {
                right: 0.2rem;
            }
        }
    }
    .modal-card-body {
        padding: 0;
        background-color: #fcfff5;
        color: #193441;
        .content {
            padding: 2rem 4rem;
            @include mobile {
                padding: 2rem;
            }
        }
    }
    
    .modal-card-foot {
        border-radius: 0;
        color: #7B9896;
        // background-color: #5B7876;
    }

    min-height: calc(100vh - 40px);
    @include desktop {
        width: 960px;
    }
    @include widescreen {
        width: 1152px;
    }
    @include fullhd {
        width: 1344px;
    }

}
