<!DOCTYPE html>
<html lang="en">
{% include html-head.html %}

<body>
  {% include header.html %}

  <!--<section class="section landing is-flex" style="background-image: url('{{ "assets/images/landing/landing.jpg" | prepend: site.baseurl }}')">-->
  <section class="section landing is-flex">
    <div id="canvas-container">
      <canvas id="canvas"></canvas>
    </div>
    <div class="container">
      <section class="sections slogan">
        <div>
          I'm a software engineer<br> who designs interactive things<br>to make life<br>fun and simple
        </div>
      </section>
      <section class="section feature-posts">
        <!--<div class="container">-->
          <div class="columns">
            {% for post in site.tags.landing %}
            <div class="column">
                <div class="column-cover" style="background-image: url('{{ site.baseurl }}assets/images/projects/{{ post.folder }}/{{ post.cover }}')" onclick="onProjectClick('{{ post.url }}')">
                  <p class="title">
                    {{ post.title }} 
                  </p>
                  <p class="description">
                    {{ post.landing-slogan }}
                  </p>
                </div>
            </div>
            {% endfor %}
          </div>
        <!--</div>-->
      </section>
    </div>
  </section>
  <div class="modal" id="project-modal">
    <div class="modal-background" onclick="closeModal('project-modal')"></div>
    <section class="modal-card" id="project-modal-content">
      
    </section>
    <!--<button class="modal-close" onclick="closeModal('project-modal')"></button>-->
  </div>
  {% include footer.html %} {% include js.html %}
</body>

</html>