<section class="modal-card-body">
  <header class="level header" style="background-image:url('/assets/images/projects/{{ page.folder }}/{{ page.title-cover }}')">
    <!--<header class="level header">-->
    <div class="level-left">
      <div class="level-item heading">
        <div>
          <p class="modal-card-title">{{ page.title }}</p>
          <p class="modal-card-subtitle">{{ page.slogan }}</p>
          {% for link in page.links %}
          <a class="links" href="{{ link.url }}" target="_blank">{{ link.text }}</a>
          {% endfor %}
          <div class="tags">
            {% for tag in page.tags %} 
              {% unless tag == "project-feature" or tag == "project-main" %}
            <span class="tag">{{ tag }}</span> {% endunless %} {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <button class="delete" onclick="closeModal('project-modal')"></button>
      </div>
    </div>
  </header>
  <div class="content">
    {{ content }}
  </div>
  <footer class="modal-card-foot">
    © Yu-Jen Lin
  </footer>
</section>